<!DOCTYPE html>
<html>
	<head>
  		<meta charset="utf-8">
  		<title>Attribute Cluster Graph</title>
	</head>
	<body>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<script src="http://d3js.org/topojson.v1.min.js"></script>
		<script src="https://rawgithub.com/markmarkoh/datamaps/master/dist/datamaps.world.js"></script>
		<h1 align="center" id="year"></h1>
		<div id="container" style="position: relative; width: 1750px; height: 1050px;"></div>

		<script type="text/javascript">
			
			clusterData = {{ clusterData|safe }};

		    var map = new Datamap({

		    	element: document.getElementById('container'),
		    	
			});

		
		    console.log(clusterData)
		</script>
	</body>
</html>