<!DOCTYPE html>

<html>
	<head>
		<style>
			ul { 
				height:400px;
				overflow:hidden;
				overflow-y:scroll;
			}
			.wrapper{
			   width: 100%;
			}
			.one, .two, .three{
			   display:block;
			   width:25%;
			   box-sizing: border-box;
			}
			.one {
			   float:left;
			}
			.two {
			   margin:0 auto;
			}
			.three {
			   float:right;
			}
			.listOne, .listTwo{
				display:block;
				width:33%;
				box-sizing: border-box;
			}

		</style>
	</head>
	<body>
	<h1>CSCI 5502: Welcome to World Indicator Visualization Tools</h1>
	<div class="wrapper">
		<div class="one">
			<form action="/" method="post" value="minmax">
				<h2>Single Attribute Map</h2>
				    <div class="container-fluid" style = font-size:20px; font-weight:bold;>
			               {{ form.attribute.label }}
			               {{ form.attribute }}
			               {% for message in form.attribute.errors %}
			                        <div style="color:#FF0000"> {{ message }}</div>
			               {% endfor %}
				           <br>
			               {{ form.normalizationMethod.label }}
			               {{ form.normalizationMethod }}
			               {% for message in form.normalizationMethod.errors %}
			                        <div style="color:#FF0000"> {{ message }}</div>
			               {% endfor %}
			               <br>
			               {{ form.smoothingMethod.label }}
			               {{ form.smoothingMethod }}
			               {% for message in form.smoothingMethod.errors %}
			                        <div style="color:#FF0000"> {{ message }}</div>
			               {% endfor %}
			               <br>
			               <input type="submit" name="minmax" value="Visualize Global Data">
			        </div>
			</form>
		</div>

		<div class="one">
			<form action="/" method="post" value="correlation">
				<h2>Correlation</h2>
				<div class="container-fluid" style = font-size:20px; font-weight:bold;>
	               {{ form2.attribute2.label }}
	               {{ form2.attribute2 }}
	               {% for message in form2.attribute2.errors %}
	                        <div style="color:#FF0000"> {{ message }}</div>
	               {% endfor %}
		           <br>
		           {{ form2.country.label }}
	               {{ form2.country }}
	               {% for message in form2.country.errors %}
	                        <div style="color:#FF0000"> {{ message }}</div>
	               {% endfor %}
	               <br>
					<input type="submit" name="correlation" value="Calculate Correlations">
				</div>
			</form>
		</div> 

		<div class="one">
			<form action="/" method="post" value="cluster">
				<h2>Clustering</h2>
				<div class="container-fluid" style = font-size:20px; font-weight:bold;>
	               {{ form3.attributes.label }}
	               {{ form3.attributes }}
	               {% for message in form3.attributes.errors %}
	                        <div style="color:#FF0000"> {{ message }}</div>
	               {% endfor %}
	               <br>
	               {{ form3.clusterTechnique.label }}
	               {{ form3.clusterTechnique }}
	               {% for message in form3.clusterTechnique.errors %}
	                        <div style="color:#FF0000"> {{ message }}</div>
	               {% endfor %}
	               <br>
	               {{ form3.kvalue.label }}
	               {{ form3.kvalue }}
	               {% for message in form3.kvalue.errors %}
	                        <div style="color:#FF0000"> {{ message }}</div>
	               {% endfor %}
	               <br>
	               {{ form3.year.label }}
	               {{ form3.year }}
	               {% for message in form3.year.errors %}
	                        <div style="color:#FF0000"> {{ message }}</div>
	               {% endfor %}
	               <br>
				<input type="submit" name="cluster" value="Cluster">
				</div>
			</form>
		</div>
		<div class="one">
			<form action="/" method="post" value="cluster">
				<h2>Regression</h2>
				<div class="container-fluid" style = font-size:20px; font-weight:bold;>
	               {{ form4.regressionAttribute.label }}
	               {{ form4.regressionAttribute }}
	               {% for message in form4.regressionAttribute.errors %}
	                        <div style="color:#FF0000"> {{ message }}</div>
	               {% endfor %}
	               <br>
	               {{ form4.country.label }}
	               {{ form4.country }}
	               {% for message in form4.country.errors %}
	                        <div style="color:#FF0000"> {{ message }}</div>
	               {% endfor %}
	               <br>
	               {{ form4.predictingAttributes.label }}
	               {{ form4.predictingAttributes }}
	               {% for message in form4.predictingAttributes.errors %}
	                        <div style="color:#FF0000"> {{ message }}</div>
	               {% endfor %}
	               <br>
				<input type="submit" name="regression" value="Regression">
				</div>
			</form>
		</div>
	</div>

		<br>
		<div>
			<div class="one">
				<div class="container-fluid">
				<br>
				<h4>Indicators</h4>
				<ul id="listOfIndicators">
				</ul>
				<p id="attributeDescription"></p>
				<br>
				</div>
			</div>
			<div class="one">
				<div class="container-fluid">
				<br>
				<h4>Countries</h4>
				<ul id="listOfCountries">
				</ul>
				</div>
			</div>
		</div>
		<br>
		<br>
	</body>
	<script type="text/javascript">
			

			indicator_data = {{ data|safe }};

			country_data = {{ countries|safe }};
		

			var cList = document.getElementById("listOfCountries");

			for (var key in country_data) {
				var entry = document.createElement('li');
				entry.appendChild(document.createTextNode(country_data[key]));
				entry.setAttribute('id', key);
				cList.appendChild(entry);
			}

			var list = document.getElementById("listOfIndicators");

			for (var key in indicator_data) {
				var entry = document.createElement('li');
				entry.appendChild(document.createTextNode(indicator_data[key]));
				entry.setAttribute('id', key);
				entry.onclick = exploreAttribute;
				list.appendChild(entry);
			}

			function exploreAttribute() {
				var infoBox = document.getElementById("attributeDescription");
				infoBox.innerHTML = this.getAttribute("id");
			}
		
		    
		</script>
</html>