<!DOCTYPE html>
<html>
	<head>
  		<meta charset="utf-8">
  		<title>Attribute Min/Max Graph</title>
  		<style>
  			#wrapper {
  			    width: 100%;
  			    height: 700px;
  			    overflow: hidden; /* add this to contain floated children */
  			}
  			#container {
  			    width: 82%;
  			    height: 700px;
  			    float:left; /* add this */
  			}
  			#second {
  				width: 18%;
  				height: 700px;
  			    float: left; /* add this */
  			}
  		</style>
	</head>
	<body>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<script src="http://d3js.org/topojson.v1.min.js"></script>
		<script src="https://rawgithub.com/markmarkoh/datamaps/master/dist/datamaps.world.js"></script>
		<h1 align="center" id="year"></h1>
		<div id="wrapper">
			<div id="container"></div>
			<div id="second"> 
				<ul id="correlationData">
					<li>Whatever</li>
					<li>Whatever2</li>
				</ul>
			</div>
		</div>

		<script type="text/javascript">
			
			min_max_data = {{ data|safe }};

			var paletteScale = d3.scale.linear()
					.domain([0, 1])
					.range(["#EFEFFF", "#02386F"]);

		    var map = new Datamap({

		    	element: document.getElementById('container'),
		    	fills:{
		    		defaultFill: '#F5F5F5'
		    	}
			});
		    
		    var i = 0;
		    function timerLoop() {
		    	setTimeout(function () {
				    
					var year = Object.keys(min_max_data)[i];
					var ccodes = Object.keys(min_max_data[year]);

					document.getElementById("year").innerHTML = min_max_data["attributeAnalyzed"] + " - " + year;
					for (var j = 0; j < ccodes.length; j++) {

						ccode = ccodes[j];
						value = min_max_data[year][ccode];
						console.log(year, ccode, value);
						var country = {}
						country[ccode] = {fillColor:paletteScale(value), numberOfThings:value}
						map.updateChoropleth(country);
					}

					i++;
				    
				    if (i < Object.keys(min_max_data).length) {
				    	timerLoop();
				    }

				}, 1000)
			}

			timerLoop();
		    
		</script>
	</body>
</html>