<!DOCTYPE html>
<html>
	<head>
  		<meta charset="utf-8">
  		<title>Attribute Min/Max Graph</title>
	</head>
	<body>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<script src="http://d3js.org/topojson.v1.min.js"></script>
		<script src="https://rawgithub.com/markmarkoh/datamaps/master/dist/datamaps.world.js"></script>
		<div id="container" style="position: relative; width: 1750px; height: 1050px;"></div>

		<script type="text/javascript">
			
			min_max_data = {{ data|safe }};

		    var map = new Datamap({

		    	element: document.getElementById('container'),
		    	fills:{
		    		MEDIUM: 'blue',
		    		UNKNOWN: 'rgb(0,0,0)',
		    		defaultFill: 'green'
		    	}
			});

		    map.legend();
		    

		    for (var i = 0; i < Object.keys(min_max_data).length; i++) {
		    	
				var year = Object.keys(min_max_data)[i];
				var ccodes = Object.keys(min_max_data[year]);

				for (var j = 0; j < ccodes.length; j++) {

					ccode = ccodes[j];
					value = min_max_data[year][ccode];
					console.log(year, ccode, value);
					map.updateChoropleth({ 
						ccode: {
							fillKey : "MEDIUM",
							numberOfThings: value
						}
					});

				}
		    }
		    

		    //map.updateChoropleth({USA:'#FF0000', IRL:'#00FFFF'});
		</script>
	</body>
</html>