<!DOCTYPE html>
<html>
	<head>
  		<meta charset="utf-8">
  		<title>Attribute Min/Max Graph</title>
	</head>
	<body>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<script src="http://d3js.org/topojson.v1.min.js"></script>
		<script src="https://rawgithub.com/markmarkoh/datamaps/master/dist/datamaps.world.js"></script>
		<h1 align="center" id="year"></h1>
		<div id="container" style="position: relative; width: 1750px; height: 1050px;"></div>

		<script type="text/javascript">
			
			min_max_data = {{ data|safe }};

			var paletteScale = d3.scale.linear()
					.domain([0, 1])
					.range(["#EFEFFF", "#02386F"]);

		    var map = new Datamap({

		    	element: document.getElementById('container'),
		    	fills:{
		    		defaultFill: '#F5F5F5'
		    	}
			});
		    
		    var i = 0;
		    function timerLoop() {
		    	setTimeout(function () {
				    
					var year = Object.keys(min_max_data)[i];
					var ccodes = Object.keys(min_max_data[year]);

					document.getElementById("year").innerHTML = year;
					for (var j = 0; j < ccodes.length; j++) {

						ccode = ccodes[j];
						value = min_max_data[year][ccode];
						// console.log(year, ccode, value);
						var country = {}
						country[ccode] = {fillColor:paletteScale(value), numberOfThings:value}
						map.updateChoropleth(country);
					}

					i++;
				    
				    if (i < Object.keys(min_max_data).length) {
				    	timerLoop();
				    }

				}, 500)
			}

			timerLoop();
		    
		</script>
	</body>
</html>