<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Regression Graphs</title>
		<script src="http://mbostock.github.com/d3/d3.v2.js"></script>
  		<style>
  			body {
  				font: 10px sans-serif;
  			}
  			.line {
				stroke: steelblue;
				stroke-width: 1;
				fill: none;
			}
			
			.axis {
				fill:none;
				stroke: #000;
			  shape-rendering: crispEdges;
			}
			.x.axis line {
			  stroke: lightgrey;
			}
			.x.axis .minor {
			  stroke-opacity: .5;
			}
			.x.axis path {
			  display: none;
			}
			.y.axis line, .y.axis path {
			  fill: none;
			  stroke: #000;
			}

  		</style>
	</head>
	<body>
		<h1 align="center" id="info"></h1> 
		<div id="graph" class="aGraph" style="position:absolute;top:0px;left:0; float:left;">
		<script src="https://d3js.org/d3.v3.min.js"></script>
		
		<script>

		polydata = {{ polydata|safe }};


		var data = []
		var years = []
		for (var j = 1960; j < 2015; j++){
			years.push(j.toString())
		}

		for (var i = 0; i < years.length; i++){
			data.push(polydata[years[i]])
		}
		var dmin = Math.min(data)
		var dmax = Math.max(data)

		document.getElementById("info").innerHTML = data[3] + " " + polydata["2006"] + " " + dmin

		var margin = {top: 20, right: 20, bottom: 30, left: 50},
    	width = 960 - margin.left - margin.right,
    	height = 500 - margin.top - margin.bottom;

		var formatDate = d3.time.format("%Y");

		var x = d3.time.scale().range([0, w]);
		var y = d3.scale.linear().range([h, 0]);

		var xAxis = d3.svg.axis()
		    .scale(x)
		    .orient("bottom");

		var yAxis = d3.svg.axis()
		    .scale(y)
		    .orient("left");

		var line = d3.svg.line()
    		.x(function(d) { return x(d.date); })
    		.y(function(d) { return y(d.close); });

    	var svg = d3.select("body").append("svg")
	    	.attr("width", width + margin.left + margin.right)
	    	.attr("height", height + margin.top + margin.bottom)
	  	.append("g")
	    	.attr("transform", "translate(" + margin.left + "," + margin.top + ")");









    	</script>
	</body>
</html>