<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Regression Graphs</title>
		<script src="http://mbostock.github.com/d3/d3.v2.js"></script>
  		<style>
  			path {
				stroke: steelblue;
				stroke-width: 1;
				fill: none;
			}
			
			.axis {
			  shape-rendering: crispEdges;
			}
			.x.axis line {
			  stroke: lightgrey;
			}
			.x.axis .minor {
			  stroke-opacity: .5;
			}
			.x.axis path {
			  display: none;
			}
			.y.axis line, .y.axis path {
			  fill: none;
			  stroke: #000;
			}

  		</style>
	</head>
	<body>
		<h1 align="center" id="info"></h1> 
		<div id="graph" class="aGraph" style="position:absolute;top:0px;left:0; float:left;">
		<!--<script src="https://d3js.org/d3.v2.min.js"></script>-->
		
		<script>

		polydata = {{ polydata|safe }};


		var data = []
		var years = []
		for (var j = 1960; j < 2015; j++){
			years.push(j.toString())
		}

		for (var i = 0; i < years.length; i++){
			data.push(polydata[years[i]])
		}
		var dmin = Math.min(data)
		var dmax = Math.max(data)

		document.getElementById("info").innerHTML = data[3] + " " + polydata["2006"]

		var m = [80, 80, 80, 80]; // margins
		var w = 1000 - m[1] - m[3]; // width
		var h = 400 - m[0] - m[2]; // height

		var x = d3.scale.linear().domain([0, data.length]).range([0, w]);
		var y = d3.scale.linear().domain([dmin, dmax]).range([h, 0]);

		


    	</script>
	</body>
</html>